<div class="version_update" *ngIf="versionChecker.showUpdateDiv" xmlns="http://www.w3.org/1999/html">
    <div class="buttonsCentered version_bold" id="updateVersion">Nieuwe versie beschikbaar:<br>{{versionChecker.appVersionAndBuildLatest}}<br><button mat-raised-button color="primary" aria-label="Update naar nieuwste versie" (click)="versionChecker.updateAppVersionAndBuild()"><mat-icon>update</mat-icon> update naar nieuwste versie</button></div>
    <div class="buttonsCentered version_small" id="currentVersion">Huidige versie: {{versionChecker.appVersionAndBuildCurrent}}</div>
</div>
<div class="pageContainerDivNoPadding">

    <mat-drawer-container id="matDrawerContainer" class="container-main" autosize  hasBackdrop="false">


        <mat-drawer #drawer class="container-panel" mode="side" position="start" id="drawerRight" [opened]="panelOpen" (openedChange)="resizeResultMap()">
            <div class="selection-table">
                <!-- app-select-table-value *ngFor="let tableSelection of tableSelections; let tableId = index;" [inputTableSelection]="tableSelection" [inputTableId]="tableId"></app-select-table-value -->
                <app-select-table-value *ngFor="let tableSelection of displayObject.tableFields; let tableId = index;" [inputTableSelection]="tableSelection" [inputTableId]="tableId"></app-select-table-value>
            </div>
        </mat-drawer>

        <mat-drawer-content id="matDrawerContent">
            <div class="panelToggleContainerLeft">
                <button (click)="panelToggle()" class="panelToggleContainerButtonLeft"  *ngIf="panelOpen"></button>
                <button (click)="panelToggle()" class="panelToggleContainerButtonRight" *ngIf="!panelOpen"></button>
            </div>
            <div class="drawerContentMapContainer"><app-result-map></app-result-map></div>
        </mat-drawer-content>


    </mat-drawer-container>

</div>
