<div class="pageContainerDivNoPadding">

    <mat-drawer-container id="matDrawerContainer" class="container-main" autosize  hasBackdrop="false">


        <mat-drawer #drawer class="container-panel" mode="side" position="start" id="drawerRight" [opened]="panelOpen" (openedChange)="resizeResultMap()">
            <div class="selection-table">
                <app-select-table-value *ngFor="let tableSelection of tableSelections; let tableId = index;" [inputTableSelection]="tableSelection" [inputTableId]="tableId"></app-select-table-value>
            </div>
        </mat-drawer>

        <mat-drawer-content id="matDrawerContent">
            <div class="panelToggleContainerLeft">
                <button (click)="panelToggle()" class="panelToggleContainerButtonLeft"  *ngIf="panelOpen"></button>
                <button (click)="panelToggle()" class="panelToggleContainerButtonRight" *ngIf="!panelOpen"></button>
            </div>
            <div class="drawerContentMapContainer"><app-result-map></app-result-map></div>
        </mat-drawer-content>


    </mat-drawer-container>

</div>
