<div class="version_update" *ngIf="versionChecker.showUpdateDiv" xmlns="http://www.w3.org/1999/html">
    <div class="buttonsCentered version_bold" id="updateVersion">Nieuwe versie beschikbaar:<br>{{versionChecker.appVersionAndBuildLatest}}<br><button mat-raised-button color="primary" aria-label="Update naar nieuwste versie" (click)="versionChecker.updateAppVersionAndBuild()"><mat-icon>update</mat-icon> update naar nieuwste versie</button></div>
    <div class="buttonsCentered version_small" id="currentVersion">Huidige versie: {{versionChecker.appVersionAndBuildCurrent}}</div>
</div>
<div class="pageContainerDivNoPadding">

    <mat-drawer-container id="matDrawerContainer" class="container-main" autosize  hasBackdrop="false">

        <!-- PANEL PART -->
        <mat-drawer #drawer class="container-panel mat-app-background" mode="side" position="start" id="drawerRight" [(opened)]="panelOpen" (openedChange)="resizeResultMap()">
            <div class="selection-table">
                <!--
                <app-select-table-value *ngFor="let tableSelection of displayObject.tableFields; let tableId = index;" [inputTableSelection]="tableSelection" [inputTableId]="tableId"></app-select-table-value>
                -->
                <div *ngIf="useCase > -1" class="useCaseInfo">
                    <!--
                    <div>
                        Use case {{useCase}}: "<b>{{useCaseDescr}}</b>" (variant {{useCaseVariant}})
                    </div>
                    <div [innerHTML]="useCaseDescrLong"></div>
                    -->

                    <div class="boldText divCentered">
                        Showing case study {{useCase}}
                        <!-- button mat-icon-button aria-label="Clear case study">
                            <mat-icon>delete</mat-icon>
                        </button -->
                    </div>
                </div>

                <!-- div>
                    <mat-card>
                        <mat-form-field>
                            <mat-label>Case study</mat-label>
                            <mat-select [(value)]="useCase" (valueChange)="updateUseCase()">
                                <mat-option value="-1">CLEAR</mat-option>
                                @for (option of [1,2,3,4,5,6]; track option) {
                                    <mat-option [value]="option">Case study {{option}}</mat-option>
                                }
                            </mat-select>
                        </mat-form-field>
                    </mat-card>
                    {{useCase}}
                </div -->


                <!--
                Toevoegen onderstaande regel in witte stuk onder inputTableId=0 zorgt voor eindeloos flikkeren van tabel-selecties ...
                                        [inputOtherTableSelection]="displayObject.tableFields[1]"
                -->
                <app-select-table-value [inputTableSelection]="displayObject.tableFields[0]"
                                        [inputTableId]="0"
                                        [inputUseCase]="useCase" [inputUseCaseData]="useCaseData"
                                        [region]="displayObject.tableFields[0].tableRegionLevel"

                                        (updateTableValueFromSelect)="updateTableFieldFromSelect($event)"  >
                </app-select-table-value>
                <app-select-table-value *ngIf="displayObject.tableFields.length > 1" [inputTableSelection]="displayObject.tableFields[1]"
                                        [inputTableId]="1"
                                        [inputUseCase]="useCase" [inputUseCaseData]="useCaseData"
                                        [inputOtherTableSelection]="displayObject.tableFields[0]"
                                        (updateTableValueFromSelect)="updateTableFieldFromSelect($event)"  >
                </app-select-table-value>
            </div>

            <div *ngIf="displayObject.displayData.length > 1" class="buttonsMargin">
                <a mat-raised-button type="button" (click)="downloadCSV()" color="secondary" download="download.csv" [href]="downloadUrl">
                    <mat-icon>download</mat-icon>Download csv
                </a>
            </div>

            <div class="json_preview" *ngIf="showDevInfo">
                <pre>{{displayObject | json}}</pre>
            </div>

        </mat-drawer>

        <!-- OUTSIDE PANEL PART -->
        <mat-drawer-content id="matDrawerContent">
            <div class="panelToggleContainerLeft">
                <button (click)="panelToggle()" class="panelToggleContainerButtonLeft"  *ngIf="panelOpen"></button>
                <button (click)="panelToggle()" class="panelToggleContainerButtonRight" *ngIf="!panelOpen"></button>
            </div>
            <div class="drawerContentMapContainer">
              <app-result-map [inputDisplayObject]="displayObject" [inputDisplayDataUpdated]="displayDataUpdated"></app-result-map>
            </div>
        </mat-drawer-content>


    </mat-drawer-container>

</div>
