.example-chip-list {
  width: 100%;
}






.example-card {
    max-width: 400px;
    align-self: start;
}

.example-header-image-ESTAT {
    background-image: url('../../assets/img/eurostat.png');
    background-size: cover;
}

.example-header-image-OECD {
    background-image: url('../../assets/img/oecd.png');
    background-size: cover;
}

.example-header-image-OXFORD {
    background-image: url('../../assets/img/oxford.jpg');
    background-size: cover;
}



.content {
    position: relative;
    padding-bottom: 60px;
    max-width: 1300px;
    margin-left: auto;
    margin-right: auto;
}

.card-container {
    align-items: start;
    display: grid;
    grid-gap: 16px;
    grid-template-columns: repeat(auto-fit, 400px);
    justify-content: center;
}

.cardbox {
    display: inline-block;
    padding: 1rem;
    width: 100%;
    position: relative;
    max-width: 580px;
}


