<mat-toolbar color="primary" class="app-toolbar">
    <mat-toolbar-row>
        <span>
            <a mat-flat-button href="http://13.39.76.182/"><mat-icon>undo</mat-icon> back to main website</a> &nbsp;
        </span>
        <!--
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        -->
        <span>{{title}}</span>
        <span class="example-fill-remaining-space"></span>
    </mat-toolbar-row>
</mat-toolbar>
<!--
<mat-menu #menu="matMenu" color="primary">
    <button mat-menu-item routerLink="/">
        <mat-icon>home</mat-icon>
        Home
    </button>
</mat-menu>
-->
<router-outlet></router-outlet>
<!--
<app-messages></app-messages>
-->
