<mat-toolbar color="primary" class="app-toolbar" (window:resize)="onAppResize()">
    <mat-toolbar-row>
        <!--
        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
        </button>
        -->
        <span>
            <a mat-flat-button href="https://www.mapineq.org"><mat-icon>undo</mat-icon> back to website</a> &nbsp;
            <!--
            <a mat-flat-button href="http://13.39.76.182/"><mat-icon>undo</mat-icon> back to website</a> &nbsp;
            <a mat-flat-button href="http://localhost:10004/"><mat-icon>undo</mat-icon> back to website</a> &nbsp;
            -->
        </span>



        <span>{{title}}</span>
        <span class="example-fill-remaining-space"></span>
    </mat-toolbar-row>
</mat-toolbar>
<!--
<mat-menu #menu="matMenu" color="primary">
    <button mat-menu-item routerLink="/">
        <mat-icon>map</mat-icon>
        Map
    </button>
    <button mat-menu-item routerLink="/datacatalogue">
        <mat-icon>list</mat-icon>
        Data Catalogue
    </button>
</mat-menu>
-->
<router-outlet></router-outlet>
<!--
<app-messages></app-messages>
-->
