<div id="ol-map" class="map-container">

</div>

<div id="tooltip" class="ol-tooltip">
  <div id="tooltip-content"></div>
</div>

<div id="graph" class="graph" [hidden]="areas.length === 0" >
  <div><h3 style="text-align: center">Unemployment in %</h3></div>
  <div class="graphlabel" *ngFor="let areax of areas"><mat-icon (click)="removeArea(areax.nuts_id)">delete_outline</mat-icon><span class="arealabel"> {{areax.name}} ({{ areax.nuts_id }})</span></div>
  <canvas id="myChart"></canvas>

</div>

<div id="legend" class="legend">
  <div class="title">Legend</div>
  <div>Unemployment in % </div>
  <div *ngFor="let legenditem of legenditems">
    <table>
      <tr>
        <td> <div style="background-color:{{legenditem.color}};width: 15px;height:15px;display:block">&nbsp;</div> </td><td>>{{ legenditem.label }}</td>
      </tr>
    </table>

  </div>
</div>

<div id="filter" class="filter">
  <div class="title">Select year</div>

  <div class="controls">
    <mat-form-field>
      <mat-label>year</mat-label>
      <mat-select [(value)]="selectedYear" (selectionChange)="selectChange()">
        @for (year of years; track year) {
          <mat-option [value]="year">{{year}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

</div>

<div id="table" class="table">
  <div class="title">Select table</div>

  <div class="controls">
    <mat-form-field>
      <mat-label>table</mat-label>
      <mat-select [(value)]="selectedTable" (selectionChange)="selectTable()">
        @for (table of tables; track table) {
          <mat-option [value]="table">{{table}}</mat-option>
        }
      </mat-select>
    </mat-form-field>
  </div>

</div>


