
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.


@include mat.all-component-typographies();


// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();



/*
// https://maketintsandshades.com/#003e5b
$mat-cust: (
        50: #e6ecef,
        100: #ccd8de,
        200: #b3c5ce,
        300: #99b2bd,
        400: #809fad,
        500: #668b9d,
        600: #4d788c,
        700: #33657c,
        800: #1a516b,
        900: #003e5b,
        A100: #e6ecef, // 50
        A200: #99b2bd, // 300
        A400: #4d788c, // 600
        A700: #003e5b, // 900
        WARN: #DD2222,
        contrast: (
                50: black,
                100: black,
                200: black,
                300: black,
                400: black,
                500: white,
                600: white,
                700: white,
                800: white,
                900: white,
                A100: black,
                A200: black,
                A400: white,
                A700: white,
                WARN: white
        )
);
*/

// https://maketintsandshades.com/#273a57
$mat-cust: (
        50: #e9ebee,
        100: #d4d8dd,
        200: #bec4cd,
        300: #a9b0bc,
        400: #939dab,
        500: #7d899a,
        600: #687589,
        700: #526179,
        800: #3d4e68,
        900: #273a57,
        A100: #e9ebee, // 50
        A200: #a9b0bc, // 300
        A400: #687589, // 600
        A700: #273a57, // 900
        WARN: #DD2222,
        contrast: (
                50: black,
                100: black,
                200: black,
                300: black,
                400: black,
                500: white,
                600: white,
                700: white,
                800: white,
                900: white,
                A100: black,
                A200: black,
                A400: white,
                A700: white,
                WARN: white
        )
);

/*

$dark-text: #273a57;
$light-text: #ffffff;

// https://maketintsandshades.com/#273a57  reverse
$mat-cust: (
        50: #273a57,
        100: #3d4e68,
        200: #526179,
        300: #687589,
        400: #7d899a,
        500: #939dab,
        600: #a9b0bc,
        700: #bec4cd,
        800: #d4d8dd,
        900: #e9ebee,
        A100: #273a57, // 50
        A200: #687589, // 300
        A400: #a9b0bc, // 600
        A700: #e9ebee, // 900
        WARN: #DD2222,
        contrast: (
                50: $light-text,
                100: $light-text,
                200: $light-text,
                300: $light-text,
                400: $light-text,
                500: $dark-text,
                600: $dark-text,
                700: $dark-text,
                800: $dark-text,
                900: $dark-text,
                A100: $light-text,
                A200: $light-text,
                A400: $light-text,
                A700: $dark-text,
                WARN: $light-text
        )
);

*/




// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
// $app-primary: mat.define-palette(mat.$indigo-palette);
// $app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);
//$app-primary: mat.define-palette($mat-cust, 900);
$app-primary: mat.define-palette($mat-cust, 900);
$app-accent: mat.define-palette($mat-cust, 200);

// The warn palette is optional (defaults to red).
// $app-warn: mat.define-palette(mat.$red-palette);
$app-warn: mat.define-palette($mat-cust, WARN);








// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$app-theme: mat.define-light-theme((
// $app-theme: mat.define-dark-theme((
  color: (
    primary: $app-primary,
    accent: $app-accent,
    warn: $app-warn,
  ),
  typography: mat.define-typography-config(),
  density: 0
));

/*
$custom-background-color: #ff8000;
// Get color param from our theme
$palette-color : map-get($app-theme, color);
// Get background param from color param
$background: map-get($palette-color, background);
// $background also has background param contains color, set it to red (for example)
$background: map_merge($background, (background: $custom-background-color));
// Set background param for palette
$palette-color: map_merge($palette-color, (background: $background));
// Set palette for theme
$app-theme: map_merge($app-theme, (color: $palette-color));
*/


// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($app-theme);

