/* You can add global styles to this file, and also import other style files */



/* /
@import "~leaflet/dist/leaflet.css";
/* */


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }






:root {
    --app-height: 100vh;
    --toolbar-top-height: 64px;
    --page-content-height: calc(var(--app-height) - var(--toolbar-top-height));
    --tab-header-height: 76px;
    --tab-content-height: calc(var(--app-height) - var(--toolbar-top-height) - var(--tab-header-height) + 2em);

    --map-title-color: rgba(0,0,0,1);
    --map-title-color-shadow: rgba(255,255,255,1);

    --page-with-footer-content-height: calc(var(--app-height) - var(--toolbar-top-height) - var(--toolbar-top-height));

    --select-cell-width: 100%;

    --app-panel-left-one-select-width: 500px;
    --app-panel-left-number-selects: 1;
    --app-panel-left-width: calc(var(--app-panel-left-number-selects) * var(--app-panel-left-one-select-width));
}

@media only screen and (max-width: 599px) {
    :root {
        --toolbar-top-height: 56px;
    }
}



/* TOOLBAR */
.app-toolbar {
    position: sticky;
    /* position: -webkit-sticky; /* For macOS/iOS Safari */
    top: 0; /* Sets the sticky toolbar to be on top */
    z-index: 1000; /* Ensure that your app's content doesn't overlap the toolbar */
}




/* WIDE and NARROW screen ... */
@media only screen and (max-width: 600px) {
    .onlyWideScreen {
        display: none !important;
    }
}
@media only screen and (min-width: 601px) {
    .onlyNarrowScreen {
        display: none !important;
    }
}


/* STYLES extra  */
.json_preview {
    background-color: rgba(8,8,8,1);
    color: rgba(0,192,0,1);
    font-size: 75%;
    padding: 0.5em;
    width: calc(100% - 1em);
    overflow-y: auto;
}

/* STYLES page content */


.pageContainerDivNoPadding {
    height: var(--page-content-height);
    overflow: auto;
    /*background-color: rgba(255,128,0,0.75);*/
}

.pageContainerDiv {
    height: calc(var(--page-content-height) - 2em);
    padding: 1em;
    overflow: auto;
    /*background-color: rgba(255,355,0,0.75);*/
}

#dialogComponentContent {
    color: rgba(0,0,0,1) !important;
}

#dialogComponentContent .pageContainerDiv {
    padding: 0;
    height: auto;
}


.tabContainerDivNoPadding {
    height: var(--tab-content-height);
    overflow: auto;
    /*background-color: rgba(0,128,0,0.5);*/
}

.tabContainerDiv {
    padding: 1em;
    height: calc(var(--tab-content-height) - 2em);
    overflow: auto;
    /*background-color: rgba(0,128,0,0.5);*/
}

.pageContainerDiv > div,
.pageContainerDiv > div > div,
.tabContainerDiv > div,
.tabContainerDiv > div > div {
    margin-bottom: 1em;
}

.matIconInText {
    font-size: inherit;
    width: auto !important;
    height: auto !important;
}






.mat-mdc-list-item-icon {
    color: rgba(0, 0, 0, 1) !important;
}

.page-tab-label-container {
    /* background-color: rgb(0,0,255,0.5); */
}
.page-tab-label-icon {
    display: block;
    text-align: center;
}
.page-tab-label-text {
    display: block;
    text-align: center;
    font-size: 75%;
}

.page-tab-icon {
    margin-right: 8px;
}

/* CSS om icon/text in actieve tab niet theme color (groen), maar zwart te maken */
/* .mat-mdc-tab:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label, .mat-mdc-tab-link:not(.mat-mdc-tab-disabled).mdc-tab--active .mdc-tab__text-label */
.mdc-tab--active .mdc-tab__text-label{
    color: #000000 !important;
}

h2 {
    margin-top: 1.5em !important;
}

.boldText {
    font-weight: bold;
}
.boldHeader {
    font-weight: bold;
    font-size: 125%;
    margin-bottom: 1em;
}

.linkLook, .linkLook:visited {
    text-decoration: underline;
    color: #dc002d;
    cursor: pointer;
}

.divCentered {
    text-align: center;
}


.divWhiteSpace ,
.formWhiteSpace {
    height: 1em;
}


.map-container {
    height: var(--page-content-height);
}



div.emptyDiv {
    margin: 0;
}

.buttonsCentered {
    text-align: center;
}

.buttonsRight {
    text-align: right;
}

.mdc-button + .mdc-button {
    margin-left: 8px;
}


/* .mat-form-field */
.mat-mdc-form-field {
    /*font-size: 14px;*/
    width: 100%;
}




/* VERSION checker */
.version_update {
    align-content: center;
    background-color: rgba(255,255,0,0.25);
    padding: 0.5em;
    border: 5px dashed rgba(255,0,0,1);
}
.version_bold {
    font-weight: bold;
}
.version_small {
    font-size: 75%;
    font-style: italic;
    /*text-align: center;*/
}


/* SIDE NAVE STYLING */

/* /
.container-main {
    position: absolute !important;
    top: 64px;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0px;
}

@media only screen and (max-width: 599px) {
    .container-main {
        position: absolute !important;
        top: 56px;
        left: 0;
        right: 0;
        bottom: 0;
        margin: 0px;
    }
}
/* */

.container-main {
    width: 100%;
    height: 100%;
    position: relative;
}

.container-panel {
    /* *
    padding: 10px;
    width: calc(min(80%, 500px)) !important;
    /* */
    width: calc(min(80%, var(--app-panel-left-width))) !important;
    /* /
    max-width: calc(min(50%, 600px)) !important;
    /* */
}

#matDrawerContent {
    overflow: hidden !important;
}

.panelToggleContainerLeft {
    position: absolute;
    top: calc(50% - 20px);
    left: 5px;

    z-index: 9999;
}
.panelToggleContainerButtonLeft,
.panelToggleContainerButtonRight {
    color: rgba(0,0,0,1);
    background-color: rgba(255,255,255,0.5);
    width: 25px;
    height: 40px;
    border: 0 !important;
    border-radius: 5px;
    padding: 0 !important;
    cursor: pointer;
    background-image: url("assets/img/button_toggle_right.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}
.panelToggleContainerButtonLeft:hover,
.panelToggleContainerButtonRight:hover {
    background-color: rgba(255,255,255,0.85);
}

.panelToggleContainerButtonLeft {
    background-image: url("assets/img/button_toggle_left.svg");
}
.panelToggleContainerButtonRight {
    background-image: url("assets/img/button_toggle_right.svg");
}


/* RESULT MAP */

.drawerContentMapContainer {
    height: 100%;
    width: 100%;
}

#resultMap {
    height: 100%;
    width: 100%;
}





/* SELECTION LAYOUT */

.selection-table:after {
    display: table;
    clear: both;
    content: "";
}
.selection-cell {
    box-sizing: border-box;
    float: left;
    width: var(--select-cell-width);
    padding: 5px;
}
.selection-cell-header-image {
    background-image: url('assets/img/selection_cell_header_img.png');
    background-size: cover;
}
.selection-cell-header-image-0 {
    background-image: url('assets/img/selection_cell_header_img0.png');
    background-size: cover;
}
.selection-cell-header-image-1 {
    background-image: url('assets/img/selection_cell_header_img1.png');
    background-size: cover;
}

.selection-cell-map {
    background-color: rgba(128,128,128,0.25);
    height: 450px;
}
.selection-cell-map-container {
    height: 100%;
    width: 100%;
}


.title {
  background-color: rgb(63, 81, 180);
  color: white;
  padding: 4px;
  font-family: "Roboto Light", Verdana, serif;
  border-radius: 5px 5px 0 0;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
}






/* EXTRA FORM STYLES*/

.optionTwoLines {
    border-top: 1px solid black;
}

/* .optionTwoLines .optionLine1, */
.optionLine1 {
    font-weight: bold;
    padding-top: 0.5em;
}
/* .optionTwoLines .optionLine2, */
.optionLine2 {
    font-weight: normal;
    font-style: italic;
    font-size: 90%;
    padding-left: 0.5em;
    padding-bottom: 0.5em;
}
