
.filter {
  z-index:9999;
  width: 220px;

  right:10px;
  top: 300px;
  position: absolute;
  background-color: rgba(255, 255, 255, .8);

  border-radius: 5px;
}


.table {
  z-index:9999;
  width: 420px;

  right:10px;
  top: 72px;
  position: absolute;
  background-color: rgba(255, 255, 255, .8);

  border-radius: 5px;
}
