<div class="selection-cell">
    <mat-card class="example-card">
        <mat-card-header>
            <div mat-card-avatar [class]="'selection-cell-header-image-'+tableId.toString()"></div>
            <mat-card-title>{{tableSelection.tableName}}</mat-card-title>
            <mat-card-subtitle>{{tableSelection.tableFunction}} ({{(tableId+1)}})</mat-card-subtitle>

        </mat-card-header>

        <mat-card-content>
            <div>
                {{tableSelection.content}}
            </div>


            <!--
            <div>{{tables | json}}</div>

            f_description
            f_resource

             <mat-select [(value)]="selected">
            -->
            <mat-form-field>
                <mat-label>Table</mat-label>
                <mat-select>
                    <mat-option>First option</mat-option>
                    <mat-option value="two" *ngFor="let table of tables">{{table.f_resource}}</mat-option>
                </mat-select>
            </mat-form-field>


        </mat-card-content>

        <!--div class="selection-cell-map"><div class="selection-cell-map-container" [id]="('map_' + tableId.toString())"></div></div-->

    </mat-card>
</div>
