<div class="selection-cell">
    <mat-card class="example-card mat-app-background">
        <mat-card-header>
            <div mat-card-avatar [class]="'selection-cell-header-image-'+tableId.toString()"></div>
            <mat-card-title>{{tableSelection.tableName}} </mat-card-title>
            <mat-card-subtitle>{{tableSelection.tableFunction}} ({{(tableId+1)}})</mat-card-subtitle>

        </mat-card-header>

        <mat-card-content>
            <div [id]="'divTableDescr_' + tableSelection.tableId" class="divTableDescr">
                {{tableSelection.tableDescr}}
            </div>

            <div class="divWhiteSpace"></div>



            <mat-form-field>
                <mat-label *ngIf="tableSelection.tableId === 0">Select region Level</mat-label>

                <mat-select *ngIf="tableSelection.tableId === 0" [(value)]="tableSelection.tableRegionLevel" (valueChange)="regionLevelChanged()">
                    <mat-option [value]="regionLevel" *ngFor="let regionLevel of availableRegionLevels">{{regionLevel}} - <i>{{regionLevelsText[regionLevel]}}</i></mat-option>
                </mat-select>
                <!--
                <mat-hint *ngIf="tableSelection.tableId === 0">0: countries / 1: large regions / 2: base regions / 3: small regions</mat-hint>
                -->

                <mat-label *ngIf="tableSelection.tableId === 1">Region Level</mat-label>
                <input matInput type="text" *ngIf="tableSelection.tableId === 1" readonly [value]="(tableSelection.tableRegionLevel !== '-1' ? tableSelection.tableRegionLevel : '')" [disabled]="true">
                <!--
                <mat-hint *ngIf="tableSelection.tableId === 1">(filled automatically)</mat-hint>
                -->
            </mat-form-field>




            <mat-form-field *ngIf="tableSelection.tableRegionLevel !== '-1'">
                <mat-label>Select table ({{tableSelectOptions.length}} options)</mat-label>
                <input type="text"
                       [placeholder]="'Select table \'' + tableSelection.tableFunction + '\' (' + (tableId+1).toString() + ')'"
                       aria-label="Select table"
                       matInput
                       [formControl]="tableSelectFormControl"
                       [matAutocomplete]="auto"
                       [value]="tableSelection.tableName"
                >
                <!--mat-hint>{{tableSelection.tableDescr}}</mat-hint-->
                <button mat-icon-button matSuffix type="button" [disabled]="this.tableSelection.tableName === ''" color="primary" (click)="tableSelectClearSelectedOption(auto)" [attr.aria-label]="'Clear'"><mat-icon>backspace</mat-icon></button>
                <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete" (optionSelected)="tableSelectOption($event.option.value)" [displayWith]="displayTableSelectOption">
                    <mat-option *ngFor="let option of tableSelectFilteredOptions | async" [value]="option">
                        <div class="optionLine1">{{option.f_description}}</div>
                        <div class="optionLine2">{{option.f_resource}}</div>
                    </mat-option>
                </mat-autocomplete>
                <!--
                <mat-hint  *ngIf="this.tableSelection.tableName !== ''">This table is available at region level(s): {{availableRegionLevelsForTable}}</mat-hint>
                -->
            </mat-form-field>


            <mat-form-field *ngIf="availableYears.length > 0">
                <mat-label *ngIf="tableSelection.tableId === 0">Select year</mat-label>
                <mat-select *ngIf="tableSelection.tableId === 0" [(value)]="tableSelection.tableYear" (valueChange)="getFieldsForTableForYearAndRegionLevel()">
                    <mat-option [value]="year" *ngFor="let year of availableYears">{{year}}</mat-option>
                </mat-select>

                <mat-label *ngIf="tableSelection.tableId === 1">Select year</mat-label>
                <!--
                <mat-label *ngIf="tableSelection.tableId === 1">Year</mat-label>
                <input matInput type="text" *ngIf="tableSelection.tableId === 1" readonly [value]="(tableSelection.tableYear !== '-1' ? tableSelection.tableYear : '')" [disabled]="true">
                <mat-select *ngIf="tableSelection.tableId === 1" [(value)]="tableSelection.tableYear" (valueChange)="checkTableValueSelectionComplete()">
                -->
                <mat-select *ngIf="tableSelection.tableId === 1" [(value)]="tableSelection.tableYear" (valueChange)="getFieldsForTableForYearAndRegionLevel()">
                  <mat-option [value]="year" *ngFor="let year of availableYears">{{year}}</mat-option>
                </mat-select>
                <!--
                <mat-hint  *ngIf="tableSelection.tableId === 1">(filled automatically)</mat-hint>
                -->
            </mat-form-field>
            <!--
            <div *ngIf="availableYears.length > 0"><div class="textSmall">Available years: <i>{{availableYears.join(', ')}}</i></div><div class="divWhiteSpace"></div></div>
            -->



            <div *ngIf="availableColumnValues.length > 0">
                <b>Value filters</b>
                &nbsp;
                <button mat-stroked-button (click)="tableSelectClearChosenColumnValues()"><mat-icon>filter_alt_off</mat-icon> clear value filters</button>
            </div>
            <div class="divWhiteSpace"></div>


            <mat-form-field *ngFor="let columnValue of availableColumnValues; let partId = index;">
                <mat-label>{{ (tableSelection.tableColumnValues[columnValue.field] === '' ? 'Select ' : '') + columnValue.field_label }}</mat-label>

                <!--
                OLD VERSION:
                <mat-select [(value)]="tableSelection.tableColumnValues[columnValue.field]" (valueChange)="changedColumnValue(columnValue.field)">
                    <mat-option [value]="partValue.value" *ngFor="let partValue of columnValue.field_values">{{partValue.label}}</mat-option>
                </mat-select>
                <button mat-icon-button matSuffix *ngIf="!availableColumnValuesWithInitiallyOneChoice.includes(columnValue.field)" type="button" color="primary" (click)="tableSelectClearChosenColumnValue(columnValue.field)" [attr.aria-label]="'Refresh/Clear'" [disabled]="tableSelection.tableColumnValues[columnValue.field] === ''"><mat-icon>replay</mat-icon></button>
                -->

                <!-- NEW VERSION: -->
                <mat-select *ngIf="tableSelection.tableColumnValues[columnValue.field] === ''" [(value)]="tableSelection.tableColumnValues[columnValue.field]" (valueChange)="changedColumnValue(columnValue.field)">
                    <mat-option [value]="partValue.value" *ngFor="let partValue of columnValue.field_values">{{partValue.label}}</mat-option>
                </mat-select>
                <input matInput type="hidden" *ngIf="tableSelection.tableColumnValues[columnValue.field] !== ''" readonly [value]="tableSelection.tableColumnValues[columnValue.field]">

                <span *ngIf="tableSelection.tableColumnValues[columnValue.field] !== ''">
                    <span *ngFor="let partValue of columnValue.field_values">
                        <input matInput type="text" *ngIf="tableSelection.tableColumnValues[columnValue.field] === partValue.value" readonly [value]="partValue.label">
                    </span>
                </span>
                <button mat-icon-button matSuffix type="button" *ngIf="!availableColumnValuesWithInitiallyOneChoice.includes(columnValue.field)  &&  tableSelection.tableColumnValues[columnValue.field] !== ''" type="button" color="primary" (click)="tableSelectClearChosenColumnValue(columnValue.field)" [attr.aria-label]="'Clear'"><mat-icon>backspace</mat-icon></button>

            </mat-form-field>





        </mat-card-content>


    </mat-card>
</div>
